<div class="login">
    <div class="login-main">
        <div class="login-header">
            <h1>Se connecter</h1>
        </div>
        <form class="login-form" [formGroup]="form" (ngSubmit)="submit()">
            <div class="login-content">
                    <label>E-mail ou nom d'utilisateur</label>
                    <input matInput placeholder="Email" formControlName="email">
                    <label>Mot de passe</label>
                    <div class="password-visibility">
                        <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password"
                            formControlName="password">
                         <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button> 
                    </div>
                </div>
            <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Se connecter</button>
            <p *ngIf="onError" class="error">An error occurred</p>
        </form>
    </div>
</div>