<div class="register">
    <div class="register-main">
        <div class="register-header">
            <h1>Inscription</h1>
        </div>
        <form class="register-form" [formGroup]="form" (ngSubmit)="submit()">
            <div class="register-content">                
                <label>Nom d'utilisateur</label>
                <input matInput placeholder="Username" formControlName="username">
                <label>Adresse e-mail</label>
                <input matInput placeholder="Email" formControlName="email">
                <label>Mot de passe</label>
                <div class="password-visibility">
                    <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password"
                        formControlName="password">
                     <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button> 
                </div>
                <div *ngIf="passwordFormField?.hasError('required')">Le mot de passe est requis</div>
                <div *ngIf="passwordFormField && passwordFormField.hasError('pattern')">Le mot de passe ne suit pas le format requis</div>
            </div>
            <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">S'inscrire</button>
            <span *ngIf="onError" class="error ml2">An error occurred</span>
        </form>
    </div>
</div>