mat-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}


mat-card-content  {
    width: 100%;
    mat-form-field {
        width: 50%;
    }
}

.mat-mdc-card {
    box-shadow: none !important;
}